*{
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}

/* Track */
// ::-webkit-scrollbar-track {
//   /* background: #f1f1f1; */
// }

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border: 2px solid transparent;
  border-radius: 50px;
  background-clip: padding-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #999;
  border: 2px solid transparent;
  border-radius: 50px;
  background-clip: padding-box;
}


// @import url("./style/overrides.scss");